/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

*{
    box-sizing: border-box;
}

body{
	direction: rtl;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
/*main structure css*/
.container{
    background: rgb(144,144,144);
    background: linear-gradient(180deg, rgba(144,144,144,1) 90%, rgba(167,167,167,1) 90%);    height: 105px;
}
.maincontainer {
    position: relative;
    text-decoration: none;
    width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.1em;
    widows: 100%;
    background: rgb(144,144,144);
    background: linear-gradient(180deg, rgba(144,144,144,1) 90%, rgba(167,167,167,1) 90%);
    height: 105px;
    z-index: 100;

}
.section1-row{
    margin-top: 30px;
}
.section1-row::after{
    content: "";
    display: table;
    clear: both;
}
.reasmoreicon{
    color: white;
    float: left;
}
.section1-row>.section1{
    float: right;
    width: 32.33%;
    height: 355px;
    border-bottom-right-radius: 30px;
    background-image: url("images/images/1908364606615453350.JPG");
}
.section1-row>.section2{
    float: right;
    margin-right: 14px;
    width: 32.33%;
    height: 355px;
    border-bottom-right-radius: 30px;
    background-image: url("images/images/Picture-046410251500.jpg");
}
.section1-row>.section3{
    float: left;
    width: 32.33%;
    height: 355px;
    border-bottom-right-radius: 30px;
    background-image: url("images/images/פזקר_-291_354410564000.jpg");
}   

.section1-row>.section1>.section1_1>h4,.section1-row>.section2>.section2_1>h4
,.section1-row>.section3>.section3_1>h4{
    padding: 0;
    margin: 0;
}
.section1-row>.section1>.section1_1>p,.section1-row>.section2>.section2_1>p
,.section1-row>.section3>.section3_1>p{   
    padding: 0;
    margin: 0;
    font-size: 14px;    
}
.section1-row>.section1>.section1_1,.section1-row>.section2>.section2_1,.section1-row>.section3>.section3_1{
    color: white; 
    width: 245px;
    padding-right:8px;
    height: 100px;
    border-bottom-right-radius: 30px;
    background-color: rgb(144, 144, 144,0.8);
}

.section1-row>.section1,.section1-row>.section2,.section1-row>.section3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 10px;
}

/*nav css*/

a{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: white;
}
li,ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: white;

}
nav>ul{
padding-right: 10px;
}


.menu>li{
    margin: 10px;
    color: white;
    }